body {
  margin: 60px 120px;
}

.back-button {
  font-size: 50px;
  cursor: pointer;
  color: blue;
  height: 50px;
  width: 50px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}